 /* Nollställ marginaler v3 */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* för att dölja scroll under intro */
  }

  /* Videobakgrund */
  #intro {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
  }

  #intro video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
  }

  #intro h1 {
    position: relative;
    color: white;
    font-size: 14vw;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7);
    z-index: 2;
    text-align: center;
    line-height: 0.9;
  }

  /* När intro ska försvinna */
  #intro.fade-out {
    opacity: 0;
    visibility: hidden;
  }

  /* Vertical sidebar menu */
  #lyric_head {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100vh;
    background-color: #f5f5dc;
    border-left: 1px solid #d4d4a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 1000;
    overflow-y: auto;
  }

  #lyric_head .menu-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: 1px solid #d4d4a8;
    padding-bottom: 0px;
  }

  #lyric_head .menu-section:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  #lyric_head .menu-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5dc;
    border: none;
    border-bottom: 1px solid #d4d4a8;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #lyric_head .menu-btn:hover {
    background-color: #e9e9c5;
  }

  #lyric_head .menu-btn:last-child {
    border-bottom: none;
  }

  /* Content area - leave space for sidebar */
  #lyric-container {
    margin-right: 40px;
    width: calc(100% - 40px);
    box-sizing: border-box;
  }

  #lyric {
    padding-bottom: 20vh;
  }

.logobg {
  position: relative;     /* viktigt för att overlay ska kunna positioneras relativt videon */
  width: 100vw;           /* fyller hela fönstrets bredd */
  height: 100%;          /* fast höjd */
  overflow: hidden;       /* beskär videon utanför ramen */
  margin: 0;
  padding: 0;
}


.logobg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
  display: block;
}

.overlay-text {
  visibility: hidden;;
  position: absolute;
  top: 50%;
  left: 25vw;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
  font-weight: 700; /* Bold */
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  z-index: 2;
}



/* For smartphones */
@media (max-width: 480px) {
.arrowleft {
height:30px;
}
.arrowright {
height:30px;
}
.ui-menu .ui-menu-item {
width: 100vw;
font-size:1em!important;
padding-right:0px;
}
#logo {
width:65px;
height:65px;
margin-top:0px;
background-image:url("/sr.webm");
background-size:contain;
background-repeat:no-repeat;
}
.logo {
width: 130px;
left:0px;
}
.head {
top:0px;
}
.body {
position:relative;
top:70px;
padding:10px
}
.browsemenu {
width:100vw;
}
#searchCast {
position:relative;
left:108px;
z-index:3;
top:-51px;
width:158px;
}
#search {
position:relative;
left:0px;
z-index:3;
top:0px;
width:100vw;
}
.sokcss {
width:100%;
height:58px;
background-color:white;
opacity:0.4;
border:solid 0px #ccc;
font-family: Verdana;
color: #000;
font-size: 1.8em;
padding-left:5px;
}
h1 {
font-size:2em;
}
#everything {
width: auto;
}
.container {
width: auto;
padding:0;
padding-top:5px;
/*margin-left: -8px;
margin-right: -8px;*/
}
#moten {
width:300px;
padding:0 0 100px 0px;
}
#content {
margin-left: 10px;
margin-right: 10px;
}
#bottom {
height:60px;
}
#bottom2 {
top:61px;
height: 36px;
}
#scl {
top:75px;
right:5px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
opacity:0.5;
background-color:white;
border-left: solid 1px;
height:61px;
}
.social {
width:20px;
height:20px;
padding-bottom:11px;
}
#line {
background: linear-gradient(to right, rgba(205,205,205,1), rgba(255,255,255,0));
height:1px;
width:807px;
margin-left:-500px;
top:61px;
}
}



/* For tablets & smart phones */
@media (min-width: 479px) and (max-width: 767px) {
.arrowleft {
height:31px;
}
.arrowright {
height:31px;
}
#logo {
width:190px;
height:60px;
margin-top:0px;
background-image:url("/sr.webm");
background-size:contain;
background-repeat:no-repeat;
}
.logo {
width: 160px;
position:relative;
left:0px;
}
.head {
top:0px;
}
.body {
position:relative;
top:120px;
padding:10px;
}
#search {
position:relative;
left:0px;
width:100vw;
z-index:3;
top:0px;
}
#searchCast {
position:relative;
left:240px;
width:200px;
z-index:3;
top:-42px;
}
.sokcss {
width:100vw;
height:100px;
background-color:white;
opacity:0.4;
border:solid 1px #ccc;
font-family: Verdana;
color: #000;
font-size: 1.8em;
padding-left:5px
}
#everything {
width: auto;
}
body {
padding-left: 10px;
padding-right: 10px;
}
.browsemenu {
width:100vw;
}
.container {
width: auto;
padding-left: 0;
padding-right: 0;
/*margin-left: -18px;*/
margin-right: -18px;
padding-top:10px;
}
#moten {
width:300px;
padding:0 0 100px 0px;
}
h1 {
font-size:2.8em;
}
#content {
margin-left: 10px;
margin-right: 10px;
}
#bottom {
height:100px;
}
#bottom2 {
top:101px;
height: 35px;
}
#scl {
top:70px;
right:20px;
padding-left:5px;
padding-right:5px;
padding-top:10px;
opacity:0.5;
background-color:white;
border-left: solid 1px;
height:91px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.social {
padding-bottom:15px;
}
#line {
background: linear-gradient(to right, rgba(205,205,205,1), rgba(255,255,255,0));
height:2px;
width:927px;
margin-left:-500px;
top:72px;
}
p {
font-size: 1.3em;
}
}




/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 1149px) {
.arrowleft {
height:36px;
}
.arrowright {
height:36px;
}
#logo {
width:300px;
height:90px;
margin-top:10px;
background-image:url("/sr.webm");
background-size:contain;
background-repeat:no-repeat;
}
.logo {
width: 180px;
position:relative;
left:0px;
}
.head {
top:0px;
}
body {
margin-left:0px;
margin-right:0px;
}
.body {
position:relative;
top:130px;
padding:10px;
}
#search {
position:relative;
left:0px;
z-index:3;
top:0px;
height:100%;
}
#searchCast {
position:relative;
left:510px;
z-index:3;
top:-40px;
width:250px;
}
.sokcss {
width:100vw;
height:100px;
background-color:white;
opacity:0.4;
border:solid 1px #ccc;
font-family: Verdana;
color: #000;
font-size: 1.8em;
padding-left:5px;
}
#everything {
width: 760px; 
}
.browsemenu {
width:100vw;
}
.container { 
width: 760px;
/*margin: 20px auto;*/
margin: 10px;
padding-top:5px;
}
#moten {
width:300px;
margin: 10px;
padding:0 0 100px 0px;
}
h1 {
font-size:3em;
}
#content {
margin-left: 10px;
margin-right: 10px;
}
#bottom {
height:100px;
}
#bottom2 {
top:101px;
height: 40px;
}
#scl {
top:70px;
right:20px;
padding-left:5px;
padding-right:5px;
padding-top:10px;
opacity:0.5;
background-color:white;
border-left: solid 1px;
height:91px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.social {
padding-bottom:15px;
}
#line {
background: linear-gradient(to right, rgba(205,205,205,1), rgba(255,255,255,0));
height:2px;
width:957px;
margin-left:-500px;
top:72px;
}
}
/* For larger displays */
@media (min-width: 1150px) {
.arrowleft {
height:36px;
}
.arrowright {
height:36px;
}
#logo {
width:320px;
height:90px;
margin-top:10px;
/*background-image:url("/sr.webm");*/
background-size:contain;
background-repeat:no-repeat;
}
.logo {
width: 250px;
position:relative;
left:0px;
}
.head {
top:0px;
}
.browsemenu {
width:100vw;
}
.body {
position:relative;
top:150px;
z-index:0;
padding:10px;
}
#search {
position:relative;
left:0px;
z-index:3;
width:100vw;
top:0px;
}
#searchCast {
position:relative;
left:550px;
z-index:3;
width:250px;
top:-50px;
}
.sokcss {
width:100vw;
height:100px;
background-color:white;
opacity:0.4;
border:solid 1px #ccc;
font-family: Verdana;
color: #000;
font-size: 1.8em;
padding-left:5px
}
#everything {
padding-left: 20px;
width: 1180px;
}
.container {
width: 800px;
margin: 0;
padding:0;
float:left;
/*border-right: solid 1px #ccc;*/
}
#moten {
width:300px;
margin: 10px;
padding:0 0 100px 0px;
}
#content {
margin-left: 10px;
margin-right: 10px;
}
#moten {
width:300px;
margin: 10px;
padding:0 0 100px 0px;
float:right;
}
h1 {
font-size:3.4em;
}
#bottom {
height:100px;
}
#bottom2 {
top:101px;
height: 40px;
}
#scl {
top:70px;
right:20px;
padding-left:5px;
padding-right:5px;
padding-top:10px;
opacity:0.5;
background-color:white;
border-left: solid 1px;
height:91px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#line {
background: linear-gradient(to right, rgba(225,225,225,1), rgba(255,255,255,0));
height:2px;
width:907px;
margin-left:-500px;
top:80px;
box-shadow: 2px 2px 15px #fff;
}
}


/* Universal for all displays below */
*:focus { 
outline:none; 
}
#headercontainer {
top: 10px;
position: absolute;
}
.arrowleft {
opacity:0.6;
}
.arrowright {
opacity:0.6;
}
.browsemenu {
position:fixed;
bottom:0;
margin:0;
padding:0;
padding-bottom: 5px;
float:left;
font-family:verdant;
font-size:1.8em;
z-index:-3;
}
.navPrev {
float:left;
}
.navNext {
float:right;
}
.navBookmark {
width:auto;
}
.head {
height:1px;
position:fixed;
z-index:1;
width: 100%;
}
#line {
position:fixed;
z-index: 1;
}
#bottom {
/* z-index:1; */
}
#bottom2 {
z-index: 1;
}
body { 
padding-top:0px;
margin-top:30px;
overflow-x:hidden;
}
#lyric {
margin:0px;
}
#content img {
padding: 5px;
}
#everything {
margin-left:auto;
margin-right:auto;
height:500px;
}
h1 {
font-family: 'Verdana', sans-serif; font-weight: 400;
color:#fff;
}
h1 a:link {
font-family: 'Verdana', sans-serif; font-weight: 400;
color:#fff;
}
h1 a:hover {
font-family: 'Verdana', sans-serif; font-weight: 400;
color:#fff;
}
h1 a:visited {
font-family: 'Verdana', sans-serif; font-weight: 400;
color:#fff;
}
h1 a {
font-family: 'Verdana', sans-serif; font-weight: 400;
color:#fff;
}
h2 {
font-family: 'Verdana', sans-serif;
font-size:1.6em;
color:#666666;
}
h3 {
font-family: 'Verdana', sans-serif;
font-size:1.1em;
margin-top:0px;
}
h4 {
font-family: 'Verdana', sans-serif;
font-size:1.2em;
margin-top:0px;
}
a:link {
text-decoration:none;
color:#666666;
}
a:visited {
color: #666666;
}
a:hover {
text-decoration:none;
color:#000;
}
#twitter {
width:200px;
padding:0;
}
#bottom {
position:fixed; 
width:100%;
left:0px;
top:0px; 
background:linear-gradient(to bottom, rgb(255, 255, 255), rgba(250, 245, 240,1));
border-bottom:solid 1px #ccc;
box-shadow: 0px 1px 5px #888888;
}
#bottom2 {
position:fixed;
width:100%;
left:0px;
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
background-repeat:repeat-y;
}
p {
font-family: Verdana; 
color: black; 
position: relative; 
}
#header { 
opacity: 1.0; 
margin-left: 70px; 
margin-top: 0px; 
position: absolute;
}
body {
-webkit-font-smoothing: antialiased;
font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #232525;
padding-top:0px;
}
#slides {
display: none
}
#slides .slidesjs-navigation {
margin-top:5px;
}
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
background-image: url(img/btns-next-prev.png);
background-repeat: no-repeat;
display:block;
width:12px;
height:18px;
overflow: hidden;
text-indent: -9999px;
float: left;
margin-right:3px;
margin-left:5px;
}
a.slidesjs-next {
margin-right:10px;
background-position: -12px 0;
}
a:hover.slidesjs-next {
background-position: -12px -18px;
}
a.slidesjs-previous {
background-position: 0 0;
}
a:hover.slidesjs-previous {
background-position: 0 -18px;
}
a.slidesjs-play {
width:15px;
background-position: -25px 0;
}
a:hover.slidesjs-play {
background-position: -25px -18px;
}
a.slidesjs-stop {
width:18px;
background-position: -41px 0;
}
a:hover.slidesjs-stop {
background-position: -41px -18px;
}
.slidesjs-pagination {
margin: 7px 0 0;
float: right;
list-style: none;
}
.slidesjs-pagination li {
float: left;
margin: 0 1px;
}
.slidesjs-pagination li a {
display: block;
width: 13px;
height: 0;
padding-top: 13px;
background-image: url(img/pagination.png);
background-position: 0 0;
float: left;
overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
background-position: 0 -13px
}
.slidesjs-pagination li a:hover {
background-position: 0 -26px
}
#slides a:link,
#slides a:visited {
color: #333
}
#slides a:hover,
#slides a:active {
color: #9e2020
}
.navbar {
overflow: hidden
}
#slides {
display: none
}
.container {
background-color:white;
margin-bottom: 40px;
padding-bottom:5px;
/*box-shadow: 0px 0px 3px #dddddd;*/
/*border-right: solid 1px #ccc;*/
}
.stretch {
width:100%;
height:100%;
}
.ui-autocomplete-loading {
background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
#city { width: 25em; }

/* Verse/paragraph styling */
.pt {
  margin-bottom: 15px;
}

/* Menu button styles */
.menu-btn {
  display: inline-block;
  padding: 8px 8px;
  margin: 0;
  background-color: #f5f5dc;
  border: 1px solid #d4d4a8;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  text-align: center;
  box-sizing: border-box;
}

.menu-btn:hover {
  background-color: #fffacd;
  border-color: #c4c498;
}

.menu-btn:active {
  background-color: #f0e68c;
  transform: translateY(1px);
}

.menu-btn-small {
  padding: 6px 8px;
  font-size: 13px;
}

.menu-btn-group {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 0 8px 0;
}

.menu-section {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e8e8d0;
}

.menu-section:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.menu-section:last-child .menu-btn-group:last-child{
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.menu-section strong {
  display: block;
  margin-bottom: 6px;
  color: #555;
  font-size: 13px;
}

/* Chord display styles */
.chords-visible .pt {
  line-height: 2.2;
  position: relative;
}

.chord-bubble {
  display: inline-block;
  position: absolute;
  background-color: #fffae6;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 0.75em;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
  transform: translate(-50%, -120%);
  margin-top: -8px;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.chord-bubble::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fffae6;
}
